<div class="modal fade" id="boardgameConfirm" tabindex="-1" aria-labelledby="boardgameConfirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="boardgameConfirm">Seu anúncio está pronto?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Conferiu se os nomes estão certos? Os preços estão ok?
          <br><br>
          Somente os itens da aba Anúncio serão enviados. Qualquer outro conteúdo na aba Leilão será perdido!
          <br><br>
          Tem certeza que deseja enviar seu anúncio? Não será possível editá-lo após o envio e você só poderia enviar outro após uma semana.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-lg" data-bs-dismiss="modal">Cancelar</button>
          {{ boardgame_form.boardgame_submit(class_="btn btn-success btn-lg", id="boardgame_submit") }}
        </div>
      </div>
    </div>
</div>  
